@{
    ViewBag.Title = "ExerciseTwo";
}
<div class="body-wrapper">
    <header>
        <div class="header-logo column-3"><a href=""><img src="~/Content/images/Logo.png" /></a></div>
        <div class="social-logos column-1">
            <a href="#"><img class="icon" src="~/Content/images/facebook-icon.png" alt="Facebook" /></a>
            <a href="#">
                <img class="icon" src="~/Content/images/twitter-icon.png" alt="Twitter" />
            </a>
            <a href="#">   <img class="icon" src="~/Content/images/googleplus-icon.png" alt="Google +" /></a>
        </div>
        <div class="clearfix"></div>
        <div>
            <nav id="site-nav">
                <ul class="nav-content">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">eBooks</a></li>
                    <li><a href="#">Magazines</a></li>
                    <li><a href="#">Movies</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </nav>
        </div>
        @*<div class="clearfix"></div>*@

    </header>

    <div class="main-content">
        <section>

            <article class="column-3">
                <h1>Lorem Ipsum Dolor Sit</h1>
                <p>posted on 15 May 2015 by <a href="#">Autho</a>r</p>
                <img src="~/Content/images/large-image.PNG" />
                <div id="more-info">
                    <h3>More ...</h3>
                    <ul>
                        <li><a href="#">Link #1</a></li>
                        <li><a href="#">Another Link</a></li>
                        <li><a href="#">Third link</a></li>
                    </ul>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod est tellus, eget aliquam lorem feugiat a.
                    Pellentesque felis nibh, tincidunt non dictum vel, porta eu eros. Mauris erat nunc, pharetra vitae justo vitae, tempus malesuada diam.
                    Quisque consectetur nisi quis magna placerat, eget aliquam augue vehicula. Quisque ut consequat ex. Quisque eget justo ante. In ac elit eget felis iaculis ultrices.
                    Sed euismod dignissim massa vitae volutpat. Integer faucibus vel dolor eget interdum. Aenean rutrum justo lectus, at sagittis risus iaculis vestibulum.
                    Sed quis lacinia sem. Mauris cursus massa id tellus ornare lacinia.
                </p>


                <p>
                    Etiam rutrum sit amet orci a auctor. Maecenas consectetur diam in diam sodales, sed lacinia lectus placerat.
                    Phasellus sed tempor lacus. Maecenas imperdiet id tellus id iaculis. Donec mattis eros sed erat suscipit gravida. Aliquam vel tellus eget magna lacinia laoreet.
                    Morbi a libero sit amet augue mollis scelerisque.
                </p>


            </article>
            <a href="#">
                <article class="column-1">
                    <h2>A guide to snoopsetting</h2>
                    <img src="~/Content/images/small-image.PNG" />
                </article>
            </a>
            <a href="#">
                <article class="column-1">
                    <h2>Welcome to the surveillance state</h2>
                    <img src="~/Content/images/small-image.PNG" />
                </article>
            </a>
        </section>
        <div class="clearfix"></div>
    </div>
    <footer>
        <div id="inner-footer">

        </div>
    </footer>
</div>
